---
import aboutImg from "@/assets/404.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "Error 404: Page not found.",
	title: "Oops! You found a missing page!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | Oops! Page not found!</h1>
	<p class="mb-8">Please use the navigation to find your way back.</p>
	<div class="my-4 grid justify-center">
		<Image
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			class="rotate-0"
			loading="eager"
			src={aboutImg}
		/>
	</div>
</PageLayout>
